<h2 mat-dialog-title>Add event</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="title"
               formControlName="titre">
    </mat-form-field>  

    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
        <input matStartDate formControlName="datedebut" placeholder="Start date">
        <input matEndDate formControlName="datefin" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
 
    <mat-form-field>
        <input matInput
                placeholder="lieu"
               formControlName="lieu">
    </mat-form-field>
 
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="end center">

<mat-dialog-actions>
    <button mat-stroked-button (click)="close()">Close</button>
    <button  mat-stroked-button  (click)="save()">Save</button>
</mat-dialog-actions></div>