<p> Create New Member</p>
<form [formGroup]="form" (ngSubmit)="sub()">
    <p>
<mat-form-field hidden="true" appearance="fill">
    <mat-label>Cin</mat-label>
    <input matInput placeholder="cin" formControlName="cin" >
  </mat-form-field>
</p>
  <mat-form-field appearance="fill">
    <mat-label>cin</mat-label>
    <input matInput placeholder="cin" formControlName="cin">
  </mat-form-field>
  <p>
  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>cv</mat-label>
    <input matInput placeholder="cv" formControlName="cv">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>type</mat-label>
    <input matInput placeholder="type" formControlName="type">
  </mat-form-field>
</p>


  <button mat-stroked-button type="submit" >Submit</button>
</form>